
{% extends 'bookr/base.html' %}

{% block pagetitle %}{{ book.title }}{% endblock %}

{% block body %}

<div class="container-fluid">


	<div class="row">
		<div class="col-xs-6">
			<img class="img-responsive" src="book.png">
		</div>
		<div class="col-xs-6">
			<h2>{{ book.title }}</h2>
			<h4>{{ book.author }}</h4>
			<h4>${{ book.price }}</h4>
			<h4>Condition: {{ book.condition }}</h4>
			<a href="accountpublic.html">
				<h4><span class="label label-primary">schott: <span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></span></h4>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<h5 class="text-center">To purchase this book, contact the seller:</h5>
			<h3 class="text-center">Contact Info</h3>
			<div class="media" data-toggle="collapse" href="#collapseExample">
				<div class="media-left">
					<a href="#">
						<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">(123)-456-7890</h4>
				</div>
			</div>
			<div class="media">
				<div class="media-left">
					<a href="#">
						<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">coolperson@gmail.com</h4>
				</div>
			</div>
			<br>
			<a href="wishlist.html"><button type="button" class="btn btn-default center-block">Add book to wishlist</button></a>
			<br>
			<button type="button" class="btn btn-default center-block" data-toggle="modal" data-target="#myModal">
				Leave a review for this seller
			</button>
			<br>

		</div>
	</div>

</div>

{% endblock %}