
{% extends 'bookr/base.html' %}

{% block pagetitle %}Item Posted for Sale{% endblock %}

<div class="container-fluid">


        <div class="row">
          <div class="col-xs-12"</div>
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Great!</strong> This item has been posted for sale!
          </div>
        </div>
          <div class="col-xs-6">
            <img class="img-responsive" src="book.png">
          </div>
          <div class="col-xs-6">
            <h2>Intro to Calculus</h2>
            <h4>4th Edition</h4>
            <h4>$27</h4>
            <h4>Condition: Good</h4>
            <a href="accountpublic.html"><h4><span class="label label-primary label-default">schott: <span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span></span></h4></a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-10">
            <br>
            <a class="btn center-block btn-primary" href="sellitem.html" role="button">Edit Listing</a>
            <h3 class="text-center">Contact Info</h3>
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">(123)-456-7890</h4>
              </div>
            </div>
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">coolperson@gmail.com</h4>
              </div>
            </div>
          </div>
        </div>

      </div>

{% endblock %}