{% extends 'bookr/base.html' %}

{% block pagetitle %}{% if private %}Your Account{% else %}{{ user.username }}{% endif %}{% endblock %}
{% load staticfiles %}
{% block body %}

<div class="container-fluid">


	<div class="row">
		<div class="col-xs-6">
			<img class="img-responsive" src="{% static 'bookr/img/smile.png' %}">
		</div>
		<div class="col-xs-6">
			<h3><span style="display: inline-block;" class="list-group-item active">{{ user.username }}<br>
				{% include 'bookr/stars.html' with person=user %}</span></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-1"></div>
			<div class="col-xs-10">
				<h4><a href="{% url 'books_for_sale' user.id %}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Books {%if private%}you're{%else%}they're{%endif%} selling</a></h4>
				<h3 class="text-center">{%if private%}Your{%else%}{{user.username}}'s{%endif%} Contact Information</h3>

				{% if private %}
				{% include 'bookr/contacts_private.html' %}
				{% else %}
				{% include 'bookr/contacts_public.html' %}
				{% endif %}

				<h3 class="text-center">Reviews</h3>
				{% for review in reviews %}
				<div class="media">
					<div class="media-left">
						<a href="{% url 'account' review.rater.id %}">
							<img src="{% static 'bookr/img/smile.png' %}" length="64" width="64">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading"><a href="{% url 'account' review.rater.id %}">{{review.rater.username}}</a> gave {{review.stars}} stars</h4>
						{{review.text}}
					</div>
				</div>
				{% empty %}
				There are no reviews for this user.
				{% endfor %}
			</div>
			{% if not private %}
			{% include 'bookr/review_modal.html' with logged_in=logged_in %}
			{% endif %}
		</div>
		

		{% endblock %}