
{% extends 'bookr/base.html' %}

{% block pagetitle %}{{ book.booktype.title }}{% endblock %}
{% load staticfiles %}

{% block body %}

<div class="container-fluid">


	<div class="row">
		<div class="col-xs-6">
			<img class="img-responsive" src="{% static 'bookr/img/book.png' %}">
		</div>
		<div class="col-xs-6">
			<h2>{{ book.booktype.title }}</h2>
			<h4>{{ book.booktype.author }}</h4>
			<h4>${{ book.price }}</h4>
			<h4>Condition: {{ book.condition }}</h4>
			<a href="{% if not book.seller == None %}{% url 'account' book.seller.id%}{% endif %}">
				<h4><span class="label label-primary">{{book.seller.username}}: {% include 'bookr/stars.html' with person=book.seller %}</span></h4>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<h5 class="text-center">
				{% if private %}
				Other users will see this contact information:
				{% else %}
				To purchase this book, contact the seller:
				{% endif %}
			</h5>
			<h3 class="text-center">Contact Info</h3>
			
			{% if private %}
			{% include 'bookr/contacts_private.html' %}
			{% else %}
			{% include 'bookr/contacts_public.html' %}
			{% endif %}

			{% if not private %}
			<br>

			<form class="input-group" method="POST" action="{%  url 'wishlist' %}">
				<input type="hidden" name="bookid" value="{{book.id}}" class="form-control" placeholder="Search for a book">
				<button type="submit" value="{{book.id}}" class="btn btn-default center-block">Add book to wishlist</button>
			</form>




			<br>
			{% if not private %}
			{% include 'bookr/review_modal.html'  %}
			{% endif %}
			<br>
			{% endif %}

		</div>
	</div>

</div>

{% endblock %}