{% extends 'bookr/base.html' %}

{% block pagetitle %}{{booktype.title}}{% endblock %}
{% load staticfiles %}

{% block body %}
<div class="container-fluid">
      <h2 class="text-center">{{booktype.title}}</h2>
      <h3 class="text-center">{{booktype.author}}</h3>



    {% for book in books %}
    <a href="{% url 'book' book.id %}">
        <div class="row">
          <div class="col-xs-5">
            <br>
            <img class="img-responsive" src="{% static 'bookr/img/book.png' %}">
          </div>
          <div class="col-xs-7">
            <div>${{book.price}}</div>
            <div>Condition: {{book.condition}}</div>
            <a href="{% url 'account' book.seller.id %}">
            <p><span class="label label-primary">{{book.seller}} {% include 'bookr/stars.html' with person=book.seller %}</span></p></a>
            <a href="{% url 'book' book.id %}"><button type="button" class="btn btn-sm btn-default">View Item</button></a>
          </div>
        </div>
      </a>
    {% endfor %}
    </div>
{% endblock %}