{% for contact in user.contact_set.all %}
<div class="media">
	<div class="media-left">
		<a href="#">
			<span class="glyphicon glyphicon-{% if contact.contact_type = 'PH' %}earphone{% else %}envelope{% endif %}" aria-hidden="true"></span>
		</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading">{{ contact.contact_text }}</h4>
	</div>
	<div class="media-right">
		<a href="#">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		</a>
	</div>
</div>
{% endfor %}

<div class="media">
	<div class="media-body">
		<h4 class="media-heading">
			<form name="contactform" id="contact_form" action="{{ path }}" method="post">
				{{ contact_form }}
				<input type="submit" value="Submit" />
			</form>
		</h4>
	</div>
	<div class="media-right">
		<a href="#">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</a>
	</div>
</div>