{% extends 'bookr/base.html' %}

{% block pagetitle %}Bookr{% endblock %}

{% block body %}
<div class="jumbotron">
	<h1 class="text-center">Bookr</h1>
	<p class="text-center">Connect with other students to buy and sell textbooks</p>
</div>

<form class="input-group" method="GET" action="{%  url 'search' %}">
	<input type="text" name="q" id="id_q" class="form-control" placeholder="Search for a book or user">
	<span class="input-group-btn">
		<button class="btn btn-default" type="submit">Search</button>
	</span>
</form><!-- /input-group -->
<br>    
<a href="{% url 'sell' %}"><button class="btn center-block btn-default" type="button">Sell a book</button></a>
{% endblock %}