{% if logged_in %}
<button type="button" class="btn btn-primary center-block" data-toggle="modal" data-target="#myModal">
{% else %}
<a href="{% url 'login' %}"><button type="button" class="btn btn-primary center-block" action="">
{% endif %}
	Leave a Review
</button>{% if not logged_in %}</a>{% endif %}
<br>

<!-- Modal -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Review of schott</h4>
			</div>
			<div class="modal-body">

				<form id="review_form" class="input-group" method="POST" action="">
					{{rating_form.as_p}}
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				
					<button form="review_form" class="btn btn-primary" type="submit">Submit review</button>
					
			</div>
		</div>
	</div>
</div>